<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!---this is the configuration file for spring core -->

    <bean class="org.example.model.Student" name="student">
        <property name="studentId">
            <value>0001</value>
        </property>
        <property name="studentName">
            <value>Pranay Dhoble</value>
        </property>
        <property name="studentAddress">
            <value>Indore</value>
        </property>
    </bean>

</beans>